.containerbus{
    height: 100px;
    width: 100%;
    border-color: black;
    border-style: groove;
    position: relative;
    top: 100px;
    border-bottom: none;
    border-radius: 5px;
}
#contentb{
    height: 300px;
    width: 100%;
    border-color: black;
    position: relative;
    border-style:groove ;
    border-top: none;
    border-radius:5px
}
#p1{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    left: 50px;

}

#p2{
    font-family: Quicksand;
    font-size: 30px;
    text-align: 25px;
    position: relative;
    left:50px;
}

#arrow{
    font-size: 60px;
    float: right;
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 15px;
}

#input{
    width:400px;
    box-sizing: border-box;
    height: 100px;
    font-family: Quicksand;
    border-radius: 5px;
}
#input:focus{
    border: 2px solid red;
}
#submit{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}
#map{
    float: right;
    height: 250px;
    width:250px;
    bottom: 200px;
    position: relative;
}
