<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My world</title>
</head>
<body>
    <script type="text/javascript" src='{{ url_for('static', filename='busstoplist.js') }}'></script>
    <h1>HEllo myhommie</h1>
    <table id="table">
 <tr>
            <td>Yio Chu Kang Int</td>
        </tr>
        <tr>
            <td>Opp Ang Mo Kio Cmty Hosp</td>
        </tr>
        <tr>
            <td>Blk 622</td>
        </tr>
        <tr>
            <td>Blk 641</td>
        </tr>
        <tr>
            <td>Bet Blks 152/155</td>
        </tr>
        <tr>
            <td>Blk 163</td>
        </tr>
        <tr>
            <td>Blk 110</td>
        </tr>
        <tr>
            <td>Opp Ang Mo Kio Pr Sch</td>
        </tr>
        <tr>
            <td> Blk 129</td>
        </tr>
        <tr>
            <td>Blk 700B</td>
        </tr>
        <tr>
            <td>Ang Mo Kio Stn</td>
        </tr>
</table>
<button id="btn">click</button>

</body>

</html>