<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback page</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='feedback.css') }}">
</head>
    <body>
       <h1 id="top">Feedback page</h1>

        <div>
            <br>
                <table border="1" align="center" id="lol">
                    <tr><th>FeedBack/Queries</th></tr>
                    <tr><td></td></tr>
                </table>
            </br>
        </div>


    </body>
</html>