<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">.

    <title>Star Rating System</title>
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="../static/ratingscss.css" />

</head>
<body>
    <h1>Star Rating System</h1>
    <div class="stars" data-rating="3">
        <span class="star">&nbsp;</span>
        <span class="star">&nbsp;</span>
        <span class="star">&nbsp;</span>
        <span class="star">&nbsp;</span>
        <span class="star">&nbsp;</span>
    </div>


<script type="text/javascript" src="../static/ratingsjs.js"></script>
</body>
</html>
</body>
</html>
